#controlButtonWrapper
{
	
	border: 1px solid;
	padding:30px;
	text-align:center;
	width: 200;
	height:200;
	position: relative;
	right:-100px;
	align-items: center;
	
}
.pictureControlButton
{
	width:100%;
	height:100%;
	//max-width:1600px;
	//max-height:1600px;
	margin: 0 auto;
}
.controlButtons
{
	width:44px;
	height:44px;
//padding:20px;
	border: 2px solid black;
	background-color:white;
	float: clear;
	border-radius:8px;
	//background-image: url("rightArrow");
	background-repeat: no-repeat;
	position:relative;
	//background-image: url(https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Ftpzoo.files.wordpress.com%2F2014%2F02%2Ftiger-mom-cuddling-cub.jpg&f=1);
}

#forwardButton 
{
	left:48px;
	// background-image: url( 'http://thinkingstiff.com/images/matt.jpg' );
 //margin:10px 48px;
	//background: url("/rightArrow.png");
	//background-color: yellow;
}
#rightButton
{
	
 bottom:-50px;
 left:1;
}
#leftButton
{
 bottom:-50;
 right: 145;
}
#backwardButton
{
 bottom:-50px;
background-color: green;
}
